.navbar {
  background-color: #bdb76b;
}

.quem-somos {
  background-color: #bdb76b;
}

.margin {
  padding-top: 30px;
  padding-bottom: 30px;
}
/* 
.parceiros {
  background-color: #daa520;
} */

.blanco {
  padding-top: 100px;
}
