div {
  position: absolute;
  background-color: red;
  border: 5px solid black;
  top: 10px;
  left: 10px;
  width: 200px;
  height: 100px;
  transition: 1s 2s;
}

div:hover {
  width: 400px;
  height: 800px;
}
